<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>List User</h2>
    <div>
        <div style="float: left">
            <button type="button" class="btn btn-success"><a href="/create">Add New</a></button>
        </div>
        <div style="float: right">
            <form method="post" action="/seach">
                <input type="text" name="findname" placeholder="Nhập Từ Khóa">
                <input type="submit" name="seach" value="Tìm Kiếm">
            </form>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Email</th>
            <th>Addrees</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="o,loop :${listStudent}">
            <td th:text="${loop.count}"></td>
            <td th:text="${o.name}"></td>
            <td th:text="${o.birthday}"></td>
            <td th:text="${o.email}"></td>
            <td th:text="${o.addrees}"></td>
            <td>
                <a th:href="@{/edit(index=${loop.index})}" class="btn btn-warning">Update</a>
                <a th:href="@{/delete/{id}(id=${o.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>